body {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 39, 41);
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgb(215, 218, 220);
}

a {
  text-decoration: none;
  color: rgb(215, 218, 220);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: rgb(215, 218, 220);
  height: 250px;
}

button:focus {
  outline:0;
  border-color: white;
}

input:focus{
    outline: none;
}

.header {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 0px;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(26, 26, 27, 0.8);
  border: 2px solid rgb(52, 53, 54);
  border-radius: 1%;
  cursor: hand;
  color: rgb(215, 218, 220);
}

.option {
  display: inline-block;
  line-height: 26px;
  cursor: pointer;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.option:hover {
  color: white;
}

.error {
  color: red;
  margin: 0;
  margin-bottom: 5px;
}

#post {
  width: 600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  background-color: black;
  color: rgb(215, 218, 220);
  font-family: arial;
  border: 2px solid rgb(52, 53, 54);
  border-radius: 10px;
}

#searchCircle {
  margin: 0;
}

#optionsCon {
  height: 26px;
  width: 446px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#link {
  height: 100px;
}

#text {
  min-height: 100px;
  max-height: 300px;
}

#count {
  margin-top: 5px;
  margin-bottom: 5px;
}

#text, #link {
  display: block;
}

#file, #form {
  height: 100px;
}

#title, #search {
  height: 30px;
  padding: 0;
}

#search, #title, #text, #file, #link {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 450px;
}

#text, #title, #search, #file, #optionsCon, #link {
  color: rgb(215, 218, 220);
  font-size: inherit;
  background-color: rgba(26, 26, 27, 0.8);
  border: 2px solid rgb(52, 53, 54);
  border-radius: 1%;
}

#text:focus, #title:focus, #search:focus, #file:focus, #optionsCon:focus, #link:focus {
  border-color: white;
}

#submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#fileCon {
  height: 140px;
}

#filler {
  background-color: green;
  height: 100%;
  width: 0%;
}

#progress {
  color: black;
  line-height: 30px;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  position: absolute;
  z-index: 10;
  width: 450px;
}

#progressBar {
  height: 30px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  background-color: white;
  text-align: center;
}
